#logo{
			width:30%;
			height:8%;
		}
		#btncss{
			width: 50%;
		}
		#fldgroup{
			background: #e6e6e6;
			color: #363636;
		}
		#imgLogo{
			position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width : 60%;
            height : 60%;
		}
		#s{
			color:red;
		}
